/* Your SCSS here. */
$ui_color: #3c5629;
$main_color: #cbdeb3;

body{
    margin: 0px;
    padding: 0px;

    nav{
        background-color: $ui_color;
        color: azure;
        top: 0px;
        position: sticky;
        overflow: hidden;

        p{
            margin: 0px;
        }
    }

    header{
        margin: 0px;
        background-color: $main_color;
    }

    footer{
        background-color: $ui_color;
        text-align: center;
        color: azure;
        p {
            margin: 0px;
        }
    }
}







